@import "../../../../node_modules/bootstrap/scss/bootstrap";

.container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.left_side {
  display: flex;
  flex-direction: row;
}

.filter_container {
  width: 400px;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.btn-primary {
  width: 100%;
}

.flexer {
  display: flex;
  justify-content: center;
}
