$primary900: #0a196f;
$primary800: #102587;
$primary700: #1a37a7;
$primary600: #264bc8;
$primary500: #3563e9;
$primary400: #658df1;
$primary300: #85a8f8;
$primary200: #aec8fc;

$secondary900: #040815;
$secondary800: #080c19;
$secondary700: #0d121f;
$secondary600: #131825;
$secondary500: #1a202c;
$secondary400: #596780;
$secondary300: #90a3bf;
$secondary200: #c3d4e9;
$secondary100: #e0e9f4;
